body{
    background-color: aquamarine;
}
.div1 {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    height: 200px;
    background: blue;
  }
.div2 {
width: 100%;
min-width: 300px;
max-width: 800px;
height: 200px;
background: red;
}
.div3 {
width: 100%;
min-width: 300px;
max-width: 800px;
height: 200px;
background: green;
}
